<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <input type="text" id="username">
    <input type="password" id="fpassword">
    <input type="password" id="spassword">
    <button onclick="registerUser()">Register</button>
    
    <p id="message"></p>

<script>
    function registerUser(){
        let username = document.getElementById('username').values;
        let fpassword = document.getElementById('fpassword').value;
        let spassword = document.getElementById('spassword').value;
        let message = documunt.getElementById('message').values;
        if(fpassword !== spassword){
            message.innerHtml = 'Пароли не совпадают';
            return
        }

        fetch('/register',{
            method: 'POST',
            headers: {
                'Content-Type':'application/json'
            },
            body: JSON.stringfy({username: username, password: fpassword})
        })
        .then(response => response.json())
        .then(data=>{
            message.innerHTML = data.message;
            if(data.success){
                setTimeout(()=> window.location.href='/', 2000)
            }
        });
    }
</script>
</body>
</html>