.input-field {
    width: 250px;  /* фиксированная ширина */
    height: 40px;   /* фиксированная высота */
    font-size: 16px; /* размер текста */
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitBtn{
    width: 250px;  /* чуть шире инпута */
    height: 45px;  /* фиксированная высота */
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: darkblue;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* отступы между элементами */
    margin-top: 50px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.togglePassword {
    position: absolute;
    right: 5px;
    width: auto;
    height: 30px;
    font-size: 14px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
}